@import url(https://fonts.googleapis.com/css?family=Roboto);
$div-bg-color: rgb(240, 240, 240);
$form-bg: rgba(255, 255, 255, 0.951);
$body-bg: #eee;
$bigger-div: rgb(232, 235, 244);
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0.5rem;
}
#main-section {
  background: $bigger-div;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: $bigger-div;
}

#output {
  max-width: 750px;
  margin: 0 auto;
}

#todo-list {
  margin: 25px 0 25px 0;
}

#todo-complete div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  color: black;
  margin-bottom: 5px;
}
.classComplete {
  background: $div-bg-color;
}

#todo-list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  background: $div-bg-color;

  margin-bottom: 5px;
}

#todo-list div .title {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

#todo-list div span {
  margin-left: 10px;
  background: none;
}
button {
  background: rgb(166, 25, 25);
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.btn {
  &:hover {
    transition: ease all 0.5s;
    background: rgb(222, 4, 109);
    cursor: pointer;
  }
}

.btnClass {
  display: flex;
  gap: 10px;
}

.completed {
  background-color: green;
}
.uncomplete {
  background: brown;
}
.text-danger {
  color: red;
}
.text-warning {
  color: orange;
}
.text-success {
  color: green;
}
